body{ font-family: Arial, Helvetica, sans-serif;

}

#nav{display: flex;
justify-content: space-between;
text-align: center;
align-items: center;
}

.register{
    background-color: black;
    color: white;
    padding: 5px;
text-decoration: none;
}

.signin{color: black;
    text-decoration: none;
    font-weight: 550px;


}

.signin:hover{background-color: black;
    margin: 20px;
    color: white;
    padding: 5px;

}

ul{display: flex;
    text-decoration: none;
    padding-left: 20px;
    margin-left: 300px;
    
    
}
ul li{padding-left: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    align-items: center;

}

ul li:hover{
    background-color: lightblue;
    cursor: pointer;           
}
/* ==================================? */


#bbcheadwrapper{ display: flex; gap: 1rem;}

#bbcheadwrapper .stage1 h4{cursor: pointer; 

}

#bbcheadwrapper .stage1 p{cursor: pointer; 

}

#bbcheadwrapper .stage1 span{cursor: pointer; 

}


#bbcheadwrapper .stage2 h4{cursor: pointer; 

}

#bbcheadwrapper .stage2 p{cursor: pointer; 

}

#bbcheadwrapper .stage2 span{cursor: pointer; 

}



#bbcheadwrapper .stage3 h3{cursor: pointer; 
 font-size: xx-large;
}

#bbcheadwrapper .stage3 p{cursor: pointer; 

}

#bbcheadwrapper .stage3 span{cursor: pointer; 

}

#bbcheadwrapper .stage3 h4{cursor: pointer; 

}


#bbcheadwrapper .stage4 h4{cursor: pointer; 

}


#bbcheadwrapper .stage4 p{cursor: pointer; 

}

#bbcheadwrapper .stage4 span{cursor: pointer; 

}
/* ======bbcheadwrapper hover==================== */
#bbcheadwrapper .stage3 h4:hover{text-decoration: underline;}

#bbcheadwrapper .stage3:hover h3{text-decoration: underline;}

#bbcheadwrapper .stage3:hover img{filter: brightness(70%);}



#bbcheadwrapper .stage4 .stages:hover h4{text-decoration: underline;}

.wrapper2{ display: flex;gap: 1rem;
     text-align: justify space-between;
        align-items: center;
    

}

.content1 h3{ background-color: white;
            font-size:large;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            cursor: pointer;
            text-decoration: underline;

}
.content1 p{ background-color: white;
            text-align: left;
            

}
        

/* hr{display: block;
                 margin-block-start: 0.5em;
                 margin-block-end: 0.5em;
                 margin-inline-start: auto;
                 margin-inline-end: auto;
                 unicode-bidi: isolate;
                 overflow: hidden;
                 border-style: inset;
                 border-width: 1px;
    
    } */


.allround{background-color: black;
}


.wrapperthree{ display: flex;
    color: white;

}

.wrapperthree .div1 button{
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    transition: all 1s;
    cursor: pointer;
}

.wrapperthree .div1 button:hover{
    background: lightgrey;
    color: black;
}


.wrapperthree .div1 h2{font: 2em sans-serif;
                        cursor: pointer;
                        text-transform: none;
                        transition: underline 5s;

}

.allround:hover h2{
    text-decoration: underline;
}

.allround:hover img{
    filter: brightness(80%);
}


.round365{ background-color: white;

}

.tape{display: flex;
    align-items: center;
      justify-content: center;

}

.tape .div1 h3{background-color: white;
                text-decoration: none;
                text-align: center;
                cursor: pointer;

}


.tape .div1 span{ background-color: white;
                   font-size: smaller;
                   cursor: pointer;

}


.tape .div2 h3{background-color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

}


.tape .div2 span{ background-color: white;
    font-size: smaller;
    cursor: pointer;

}








.tape .div2 h3{background-color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

}






.tape .div3 h3{background-color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;


}

.tape .div3 span{ background-color: white;
    font-size: smaller;
    cursor: pointer;

}



.tape .div4 h3{background-color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding-bottom: 3PX;
    margin-bottom: 5PX;

}

.tape .div4 span{ background-color: white;
    font-size: smaller;
    cursor: pointer;
    
}    



.tape .div5 h3{background-color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

}

.tape .div5 span{ background-color: white;
    font-size: smaller;
    cursor: pointer;

}


.div1:hover h3{ text-decoration:underline;

}


.div2:hover h3{ text-decoration:underline;

}


.div3:hover h3{ text-decoration:underline;

}


.div4:hover h3{ text-decoration:underline;

}

.div5:hover h3{ text-decoration:underline;

}





.buisness365{background-color: white;
         cursor: pointer;
}

.tesla{display: flex;
         


}




.divtwo h3{background-color: white;
                 font-size:37px;
                 padding:9px;
                 margin: 9px;
                 cursor: pointer;
                 transition: underline;

}


.divtwo p{background-color: white;
           
           text-align: center;
          font-size: 18px;
           cursor: pointer;
           


}

.divtwo button{background-color:white;
                 text-align: center;
                padding: 10px;
                margin: 10px;
                border-radius: 5px;
                cursor: pointer;
                transition: all;



}



 .tesla :hover img{ filter: brightness(70%);
                   text-decoration: underline;
                   cursor: pointer;
   }               


 .tesla .divtwo:hover h3{text-decoration:underline;

}



.divtwo button:hover{background-color:black;
    color:white;


}




.tape2{ display: flex;
    
    background-color: white;

}



.tape2 .head1{background-color: white;
              text-align: left;

}
 
.head1 h3{background-color: white;
           cursor: pointer;

}
.head1 span{background-color: white;
             cursor: pointer;

}

.head1 h3:hover{background-color: white;
                text-decoration: underline;

}
/* '''''''''''''''''''''''''''''''''''''''' */



.head2 h3{background-color: white;
    cursor: pointer;
       padding-left: 5px;
}
.head2 span{background-color: white;
      cursor: pointer;

}

.head2 h3:hover{background-color: white;
         text-decoration: underline;

}





.head3 h3{background-color: white;
    cursor: pointer;
    padding-left: 10px;
    

}
.head3 span{background-color: white;
      cursor: pointer;
       
}

.head3 h3:hover{background-color: white;
         text-decoration: underline;

}




.head4 h3{background-color: white;
    cursor: pointer;

}
.head4 span{background-color: white;
      cursor: pointer;

}

.head4 h3:hover{background-color: white;
         text-decoration: underline;

}



.head5 h3{background-color: white;
    cursor: pointer;
    padding-right: 6px;
}
.head5 span{background-color: white;
      cursor: pointer;

}

.head5 h3:hover{background-color: white;
         text-decoration: underline;

}

.chain{background-color: white;

       display: flex;

}

.set1 h3{background-color: white;
    font-size: 28px;
    font-weight: 800;
    line-height: 32px;
    text-decoration: none;
    letter-spacing: -0.56px;
    cursor: pointer;
    
}

.set1 p{background-color: white;
            font-size: 18px;
            font-weight: 100;
            cursor: pointer;
            
}
             

.set1 button{ background-color: white;
               padding: 10px;
               margin: 10px;
               border-radius: 5px;
               cursor: pointer;
               
}
       

.set1 h3:hover{ background-color:white;
                 text-decoration: underline;
                 transition: all;
            

}



.set1 button:hover{ background-color:burlywood;

}

.blockall:hover img{ filter: brightness(70%);


}

.blockall:hover h3{ text-decoration: underline;}

/* --========================================= */










/* =======parent div theme= opening====== */
#theme{display: flex;
 cursor: pointer;
}
/* ============parent div closing============ */

#theme.ring1 h3{ background-color: white;
             font-weight: 700;
             font-size: x-large;

}

#theme .ring1 p{ background-color: white;
         

}

#theme .ring1 button{ background-color: white;
              margin: 5px;
              border-radius: 3px;
              padding: 12px;
              font-weight: 800;
              cursor: pointer;
}



#theme .ring1:hover h3{ background-color: white;
                        text-decoration: underline;
}



#theme .ring1 button:hover{background-color: darkslategrey;
                         

}


#theme .ring2 img:hover{ background-color: white;
                          filter: brightness(80%);
                          text-decoration: underline;
                        
}

/* ===================================theme ending============= */


/* ----------------------news opening--------------------- */

#news { display: flex;

}

#news .tube1{cursor: pointer;

}

#news .tube2{cursor: pointer;

}

#news .tube3{cursor: pointer;

}

#news .tube4{cursor: pointer;

}
#news .tube1 p{ cursor: pointer;
    font-size: small;

}

#news .tube1 h3:hover{ text-decoration: underline;

}

#news .tube1 p:hover{ text-decoration: underline;}
#news .tube1 img:hover{ text-decoration: underline;
                       filter: brightness(70%);

}








/* =========parent div=================== */

#control{ display: flex;

}
/* =========parent div=================== */

#control .con1 h3{ background-color: white;
       border: 5px;
    

} 


#control .con1 span{ border:5px ;
    background-color: white;
    font-weight: 300;
    cursor: pointer;
    margin: 5px;
    border: 5px;

}


#control .con2 h3{ background-color: white;
    border: 5px;

}



#control .con2 span{border:5px ;
    background-color: white;
    font-weight: 300;
    cursor: pointer;
    margin: 5px;
    border: 5px;

}



#control .con3 h3{ background-color: white;
    border: 5px;
    padding-right: 2px;

}



#control .con3 span{border:5px ;
    background-color: white;
    font-weight: 300;
    cursor: pointer;
    margin: 5px;
    border: 5px;

}





#control .con4 h3{ background-color: white;
    
    padding-left: 1px;
}


#control .con4 span{border:5px ;
    background-color: white;
    font-weight: 300;
    cursor: pointer;
    margin: 5px;
    border: 5px;
}




#control .con5 h3{ background-color: white;
    
     padding-right: 20px;
}


#control .con5 span{border:5px ;
    background-color: white;
    font-weight: 300;
    cursor: pointer;
    margin: 5px;
    border: 5px;
}



#control .con1:hover h3{ background-color: white;

               text-decoration: underline;
               cursor: pointer;
}


#control .con1 span:hover{ background-color: white;

    cursor: pointer;
}


#control .con2:hover img{ filter: brightness(80%);

} 

#control .con2:hover h3{ background-color: white;
    text-decoration: underline;
     cursor: pointer;
}
    

#control .con3:hover h3{ background-color: white;
    text-decoration: underline;
    cursor: pointer;
}


#control .con4:hover h3{ background-color: white;
    text-decoration: underline;
cursor: pointer;
}
 


#control .con5:hover h3{ background-color: white;
    text-decoration: underline;
cursor: pointer;
}
/* =========================done on control======== */




#pagemain{ display: flex;
    background-color: white;

}

#pagemain .page1{ background-color: white;
       border: 5px;
}

#pagemain .page1 h3{ background-color: white;
          margin: 1px;
        cursor: pointer;
}

#pagemain .page1 span{background-color: white;
             margin: 1px;
             font-weight: 300;
             cursor: pointer;
            

}

#pagemain .page1 p{background-color: white;
         padding: 1px;
          padding-right: 110px;
         cursor: pointer;
}

/* =========================================== */


#pagemain .page2{ background-color: white;
    border: 5px;
}

#pagemain .page2 h3{ background-color: white;
       margin: 1px;
       text-decoration: none;
     cursor: pointer;
}

#pagemain .page2 span{background-color: white;
          margin: 1px;
          font-weight: 300;
          cursor: pointer;
}

#pagemain .page2 p{background-color: white;
      padding: 1px;
         cursor: pointer;
}


/* ===================================================== */


#pagemain .page3{ background-color: white;
    border: 5px;
}

#pagemain .page3 h3{ background-color: white;
       margin: 1px; 
        cursor: pointer;
}

#pagemain .page3 span{background-color: white;
          margin: 1px;
          font-weight: 300;
          cursor: pointer;
}


#pagemain .page3 p{background-color: white;
      padding-left: 15px;
        cursor: pointer;
}


#pagemain .page1:hover img{ background-color: white;
                 text-decoration: underline;
                 filter: brightness(70%);
                 cursor: pointer;
}


#pagemain .page2:hover img{ background-color: white;
    text-decoration: underline;
    filter: brightness(70%);
    cursor: pointer;
}


#pagemain .page3:hover img{ background-color: white;
    text-decoration: underline;
    filter: brightness(70%);
    cursor: pointer;
}

#pagemain .page1:hover h4{ text-decoration: underline;
   
}

#pagemain .page2:hover h4{ text-decoration: underline;

}


#pagemain .page3:hover h4{ text-decoration: underline;

}
/* ==============endpiont hover for pagemain============== */



#meme {display: flex;
       background-color: black;

}


#meme .lit1{color: white;
    cursor: pointer;

}

#meme .lit1 img{ filter: brightness(70%);
                padding-right: 15px;

}

#meme .lit1 h4{bottom: 5px;

}

#meme .lit1 p{padding-left: 5px;

}

#meme .lit1 span{font-size: small;

}
#meme .lit1 hr{ margin:10px;

}


/* ------------------------------------ */




#meme .lit2{color: white;
    cursor: pointer;

}

#meme .lit2 img{ filter: brightness(70%);
                padding-right: 15px;

}

#meme .lit2 h4{bottom: 5px;

}

#meme .lit2 p{padding-left: 5px;

}

#meme .lit2 span{font-size: small;
    

}

#meme .lit1 hr{ margin:8px;

}
/* ----------------------------------------- */



#meme .lit3{color: white;
        cursor: pointer;
}

#meme .lit3 img{ filter: brightness(70%);
                padding-right: 15px;

}

#meme .lit3 h4{bottom: 5px;
      padding-left: 15px;

}

#meme .lit3 p{padding-left: 30px;

}

#meme .lit3 span{font-size: small;
    padding-left: 15px;

}

#meme .lit3 hr{ padding-left: 20px;
               margin-top: 15px;
}
/* ------------------------------------------- */



#meme .lit4{color: white;
    cursor: pointer;

}

#meme .lit4 img{ filter: brightness(70%);
                padding-right: 15px;

}

#meme .lit4 h4{bottom: 5px;

}

#meme .lit4 p{padding-left: 5px;

}

#meme .lit4 span{font-size: small;

}
#meme .lit4 hr{ margin:10px;

}
/* -------------------------------------------- */



#meme .lit5{color: white;
              background-color: black;
              cursor: pointer;
}

#meme .lit5 img{ filter: brightness(70%);
                padding-right: 15px;

}

#meme .lit5 h4{bottom: 5px;

}

#meme .lit5 p{padding-left: 10px;
     padding-right: 20px;
  cursor: pointer;
}

#meme .lit5 span{font-size: small;
                padding-left: 10px;
        

}

#meme .lit5 hr{ margin: 12px;

}

/* -------------------------------------------- */


#meme .lit6{color: white;
            background-color: black;
             cursor: pointer;
}

#meme .lit6 img{ filter: brightness(70%);
                padding-right: 15px;

}

#meme .lit6 h4{bottom: 5px;

}

#meme .lit6 p{padding-left: 5px;
        
}

#meme .lit6 span{font-size: small;

}

#meme .lit6 hr{ margin: 20px;
                margin-bottom:10px;
                
}

#meme .lit1:hover h4{ text-decoration: underline;}
#meme .lit1:hover img{ filter: brightness(80%);}


#meme .lit2:hover h4{ text-decoration: underline;}
#meme .lit2:hover img{ filter: brightness(80%);}


#meme .lit3:hover h4{ text-decoration: underline;}
#meme .lit3:hover img{ filter: brightness(80%);}


#meme .lit4:hover h4{ text-decoration: underline;}
#meme .lit4:hover img{ filter: brightness(80%);}


#meme .lit5:hover h4{ text-decoration: underline;}
#meme .lit5:hover img{ filter: brightness(80%);}


#meme .lit6:hover h4{ text-decoration: underline;}
#meme .lit6:hover img{ filter: brightness(80%);}

/* ----------------------------------------------------- */



#shotmain{display: flex;
     cursor: pointer;
    
}         




#shotmain .biz1 h2{ background-color: white;

    font-size: x-large;

    margin-bottom:20px;
    font-size: xx-large;
}

#shotmain .biz1 p{ background-color: white;
    padding-right: 15px;
}

#shotmain .biz1 button{ background-color: white;
                    margin:10px;
                    padding: 10px;
                    border-radius: 1px;
                    cursor: pointer;
}

#shotmain:hover h2{ text-decoration: underline;
                  

}

#shotmain:hover img{ text-decoration: underline;

                     filter: brightness(80%);
                    cursor: pointer;
}

#shotmain .biz1 button:hover{ cursor: pointer;
                      background-color: gray;
                transition: all;

}

/* ===============================-------------- */

#baseall {display: flex;
    cursor: pointer;

}

#baseall .base2{ font-size: x-large;
    padding-left: 15px;
    margin: 5px;
    font-weight: 400;

}

#baseall .base2 p{font-size: medium;
                         
}

#baseall .base2 button{ margin: 15px;
                       padding: 15px;
                       border-radius: 5px;
                       background-color:white;
}


#baseall:hover h3{ text-decoration: underline;
                       
                    
}


#baseall:hover img{ text-decoration: underline;
    cursor: pointer;
      filter: brightness(80%);
      transition: all;
}

#baseall .base2 button:hover{
                     background-color: grey;
                     transition: all;
                     cursor: pointer;
                     
}


#news { display: flex;

        flex-direction: row;
        gap: 1rem;
    
}


#news .tube1 h3:hover{text-decoration: underline;}
#news .tube2 h3:hover{text-decoration: underline;}
#news .tube3 h3:hover{text-decoration: underline;}
#news .tube4 h3:hover{text-decoration: underline;}



#imagemain { display: flex;
    gap: 1rem;

}


#imagemain .tp1{cursor: pointer;
            


}

#imagemain .tp1:hover img{
    filter: brightness(50%);
}

#imagemain .tp2:hover h4{ text-decoration: underline;
}


#imagemain .tp2{cursor: pointer;
            


}

#imagemain .tp2:hover img{
    filter: brightness(50%);
}

#imagemain .tp2:hover h4{ text-decoration: underline;
}



#imagemain .tp3{cursor: pointer;
            


}

#imagemain .tp3:hover img{
    filter: brightness(50%);
}

#imagemain .tp3:hover h4{ text-decoration: underline;
}



#imagemain .tp4{cursor: pointer;
            


}

#imagemain .tp4:hover img{
    filter: brightness(50%);
}

#imagemain .tp4:hover h4{ text-decoration: underline;
}

/* ------------------------------imgemain ending============= */


#sportswrapper  { display: flex;
    text-align: center;
    gap: 2rem;
}


#sportswrapper .sp1{cursor: pointer;}
#sportswrapper .sp1 h3{ font-size: xlarge;}
#sportswrapper .sp1 button{ background-color:beige;
    cursor: pointer;
                           border-color: black;
                           margin:9px;
                           padding: 14px;

}

#sportswrapper .sp1 p{ font-size: medium;}

#sportswrapper:hover img{filter: brightness(70%); cursor: pointer;}
#sportswrapper:hover h3{ text-decoration: underline;}
#sportswrapper .sp1 button:hover{background-color:gray;}

/* ==================ending sportswrapper=========? */


#bizwrapper{ display: flex;
            gap: 1rem;
        

}


#bizwrapper .bi1 h3:hover{text-decoration: underline; cursor: pointer;}
#bizwrapper .bi2 h3:hover{text-decoration: underline;cursor: pointer;}
#bizwrapper .bi3 h3:hover{text-decoration: underline;cursor: pointer;}
#bizwrapper .bi4 h3:hover{text-decoration: underline;cursor: pointer;}

/* ==============================BIZWRAPPER ENDING==== */

#mackwrap{display: flex; gap: 1rem;} 


#mackwrap .deck1{cursor: pointer;
            

}

#mackwrap .deck1:hover img{
    filter: brightness(50%);
}

#mackwrap .deck1:hover h3{ text-decoration: underline;
}


#mackwrap .deck2{cursor: pointer;
            


}

#mackwrap .deck2:hover img{
    filter: brightness(50%);
}

#mackwrap .deck2:hover h3{ text-decoration: underline;
}



#mackwrap .deck3{cursor: pointer;
            

}

#mackwrap .deck3:hover img{
    filter: brightness(50%);
}

#mackwrap .deck3:hover h3{ text-decoration: underline;
}



#mackwrap .deck4{cursor: pointer;
            

}

#mackwrap .deck4:hover img{
    filter: brightness(50%);
}

#mackwrap .deck4:hover h3{ text-decoration: underline;
}
/* =======================mackwrap ending=========== */



#letterwrapper{display: flex; gap: 1rem;}

#letterwrapper .let1{ cursor: pointer;}
#letterwrapper .let2{cursor: pointer;}
#letterwrapper .let3{cursor: pointer;}

#letterwrapper .let1:hover h3 {text-decoration: underline;}

#letterwrapper .let1:hover img{filter: brightness(80%);}

#letterwrapper .let2:hover h3 {text-decoration: underline;}

#letterwrapper .let2:hover img{filter: brightness(80%);}

#letterwrapper .let3:hover h3 {text-decoration: underline;}

#letterwrapper .let3:hover img{filter: brightness(80%);}


#pixwrapper{background-color: gainsboro; text-align: center; cursor: pointer;}

/* ====================================================== */


#testwrapper{ display: flex; gap: 1rem;

}

#testwrapper .test1 h3:hover{cursor: pointer; text-decoration: underline;}

#testwrapper .test2 h3:hover{cursor: pointer; text-decoration: underline;}

#testwrapper .test3 h3:hover{cursor: pointer; text-decoration: underline;}

#testwrapper .test4 h3:hover{cursor: pointer; text-decoration: underline;}

/* ===========================testwrapper ending========= */


#endingwrap{display: flex; gap: 1rem;

}

#endingwrap .end1{cursor: pointer;
}

#endingwrap .end1:hover h3{ text-decoration: underline; filter: brightness(70%);}

#endingwrap .end1:hover img{cursor: pointer; filter: brightness(80%);}



#endingwrap .end2{cursor: pointer;
}

#endingwrap .end2:hover h3{ text-decoration: underline; filter: brightness(70%);}

#endingwrap .end2:hover img{cursor: pointer; filter: brightness(80%);}



#endingwrap .end3{cursor: pointer;
}

#endingwrap .end3:hover h3{ text-decoration: underline; filter: brightness(70%);}

#endingwrap .end3:hover img{cursor: pointer; filter: brightness(80%);}


#endingwrap .end4{cursor: pointer;
}

#endingwrap .end4:hover h3{ text-decoration: underline; filter: brightness(70%);}

#endingwrap .end4:hover img{cursor: pointer; filter: brightness(80%);}



/* --------bbcending===================== */









 #boom .endpart a{

    text-decoration: none;
    color: black;
    font-size: small;
}

#boom .endpart a:hover{text-decoration: underline;}
button{background-color: darkgray;
        border-radius: 3px;
        margin:5px;
        padding: 10px;
        cursor: pointer;
}
 button:hover{background-color:grey;}


#canwrap .end1 a{color: black;
                 text-decoration: none;
                padding:9px;
                font-size: small;
}

#canwrap .end1 a:hover{text-decoration: underline;}

#lastbbc .d1{font-size: small;
             text-justify: auto;
             justify-content: space-between;

}

#lastbbc .d1 p span{font-weight: 900;}